h1{ Color: #000000;
font-size: 100px;
text-align: center;
font-family:  arial;
 
}
h2{font-size: 50px;
font-family: arial;
text-align:  center;
color:  #FFFF0;
}
p {font-size:  40px;
}
b {Color:  #623d9c;}
